.header{
    margin-bottom: 60px;
    padding: 50px 50px;
    border-bottom: 2px solid #dde2e7 ;
}
.header__box{
    margin: 0 auto;
    max-width: 1470;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    font-family: 'Exo 2', sans-serif;
    font-size: 38px;
    font-weight: 700;
}