mixin asidePosts(img,title,date)

    .asideposts
        .aside__header
            img.aside_img(src=src="./../../img/posts-preview/" + img alt="aside img")
        h2.aside__title #{title}
        h3.aside__date #{date}

        