mixin namberPages(link)

    ul.namberPage__list
        li.namberPage__item 
            a.namberPage__link(href=link) 
                | 1
            a.namberPage__link(href=link) 
                | 2
            a.namberPage__link(href=link) 
                | 3